{%- capture title %}
  
  {% comment %} Determine correct language {% endcomment %}
  {% capture language %}
    {% include helpers/current_language.html %}
  {% endcapture %}
  {% assign language = language | strip | strip_newlines %}

  {% comment %} Assemble site title {% endcomment %}
  {% capture site_title %}
    {% if site.title[language] %}
      {{ site.title[language] }}
    {% comment %} Check if site is multilanguage (title variable is an array) and fallback to default language {% endcomment %}
    {% elsif site.title.first %}
      {% assign default_language = site.language[0] %}
      {{ site.title[default_language] }}
    {% else %}
      {{ site.title }}
    {% endif %}
  {% endcapture %}
  {% comment %} Remove Markdown and HTML tags {% endcomment %}
  {% assign site_title = site_title | strip | strip_newlines | markdownify | strip_html | strip | strip_newlines %}

  {% comment %} Assemble page title {% endcomment %}
  {% if page.title_tag %}
    {% assign page_title = page.title_tag %}
  {% else %}
    {% assign page_title = page.title %}
  {% endif %}
  {% comment %} Remove Markdown and HTML tags {% endcomment %}
  {% assign page_title = page_title | strip | strip_newlines | markdownify | strip_html | strip | strip_newlines %}

  {% comment %} Render title {% endcomment %}
  {% if page_title != '' %}
    {% if site.page_title.append %}
    {{ page_title }} {{ site.page_title.delimiter | default: '|' }} {{ site_title }}
    {% else %}
      {{ page_title }}
    {% endif %}
  {% else %}
    {{ site_title }}
  {% endif %}

{% endcapture -%}

{% comment %} Remove whitespace, newlines, escape special characters and render title {% endcomment %}
{{- title | strip | strip_newlines | escape -}}
