title: GitHub Pages boilerplate
description: >- # this ignores newlines until the next definition
  Jekyll boilerplate for GitHub Pages (no plugins) does the every-time-new-static-site
  groundwork for you. Featuring multilanguage and shared codebase for multiple connected 
  sites.
